<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN
        "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<center>
<img src="/static/banner4.png" alt="Welcome to FoodPot!">
</center>
<title>FoodPot</title>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/potlistener.js"></script>
<script type="text/javascript" src="/static/spin.js"></script>
</head>

<body onload="draw();">
<br/><br/><br/><br/>
<center>
<div id='progressbar' style="width:300px"></div>
- foodpot size -<br/>
<br/>
<h1>
Your Order: Steak - $10.99 - Chilli's
</h1>
Test user: markisus@gmail.com <br/>
Test pass: password
<br/>
<br/>
<div id="result" style="font-size:large">
</div>
<br/>
<form name="userForm" id="userForm">
Login: <input type="text" name="email" placeholder="Email" style="width:150px"/> 
<input type="password" name="password" placeholder="Password" style="width:150px"/>
<input type="submit" onclick="userFormSubmit(); return false;" value="Login" />
</form>
<form name="postSignIn" id="postSignIn" style="display:none">
Order Info:
<select name="ccNick" id="ccDrop" style="width:150px">
<option>Select Saved Credit Card</option>
</select>
<select name="addrNick" id="addrDrop" style="width:150px">
<option>Select Saved Address</option>
</select>
<input type="submit" onclick="submitCCAddr(); return false;" value="Select" />
</form>
</center>

<div id='status'></div>
<script type="text/javascript">
console.log("Starting embedded jscript");

var opts = {
  lines: 12, // The number of lines to draw
  length: 7, // The length of each line
  width: 4, // The line thickness
  radius: 10, // The radius of the inner circle
  color: '#000', // #rgb or #rrggbb
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false // Whether to render a shadow
};

var target = document.getElementById("status");
console.log(target);
var spinner;

function userFormSubmit()
{
	try
	{
		spinner = new Spinner(opts).spin(target);
		console.log("Spinner started");
		$.post("/info/", {username : document.userForm.email.value, password : document.userForm.password.value}, processSignInResponse);
		
		document.getElementById("userForm").style.display = "none";
		document.getElementById("postSignIn").style.display = "inline";
		
	} catch (err)
	{
		console.log(err);
	}
	
}

function submitCCAddr(data)
{
	try
	{
		console.log("Submitting order!");
		//document.getElementById("spinner").style.display = "inline";
		console.log("Starting spinner");
		spinner = new Spinner(opts).spin(target);
		$.post("/order/", {username : document.userForm.email.value, password : document.userForm.password.value, address_nick : document.postSignIn.addrNick.value, card_nick : document.postSignIn.ccNick.value}, processResponse);
	
	} catch (err)
	{
		console.log(err);
	}
}

function processSignInResponse(data)
{
	console.log("Processing response for an sign in");
	var obj = $.parseJSON(data);
	
	var addr = obj.addresses;
	var cc = obj.creditcards.ccs;
	var addrdrop = document.getElementById("addrDrop");
	var ccdrop = document.getElementById("ccDrop");
	
	for (i=0; i<cc.length; i++)
	{
		var optn = document.createElement("option");
		optn.text = cc[i].nick;
		optn.value = cc[i].nick;
		
		ccdrop.options.add(optn);
	}
	
	for (i=0; i<addr.length; i++)
	{
		var optn = document.createElement("option");
		optn.text = addr[i].nick;
		optn.value = addr[i].nick;
		
		addrdrop.options.add(optn);
	}
	
	//document.getElementById("spinner").style.display = "none";
	console.log("Stopping spinner");
	spinner.stop();
}

function processResponse(data)
{
	console.log("Processing response for an order");
	console.log(data);
	document.getElementById("postSignIn").style.display = "none";
	//document.getElementById("spinner").style.display = "none";
	console.log("Stopping spinner");
	spinner.stop()
	
	switch(data)
	{
		case "00" : showResult("You did not win a free meal, but look on the bright side, at least your order was placed successfully."); break;
		case "01" : showResult("Error processing your order. Please try again later."); break;
		case "10" : showResult("You won a free meal! Enjoy some chow on us."); break;
		case "11" : showResult("You won! Just kidding. Actually something wrong happened here..."); break;
	}
}

function showResult(message)
{
	$("#result").text(message);
}

</script>
</body>
</html>
