<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN
        "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<center>
<img src="/static/banner4.png" alt="Welcome to FoodPot!">
</center>
<title>FoodPot</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/potlistener.js"></script>
<script type="text/javascript">
console.log("Starting embedded jscript");
function userFormSubmit()
{
	try
	{
		$.post("/info/", {username : document.userForm.email.value, password : document.userForm.password.value}, processSignInResponse);
		
		document.getElementById("userForm").style.display = "none";
		document.getElementById("postSignIn").style.display = "inline";
		
	} catch (err)
	{
		console.log(err);
	}
	
}

function submitCCAddr(data)
{
	try
	{
		$.post("/order/", {username : document.userForm.email.value, password : document.userForm.password.value, address_nick : document.postSignIn.addrNick.value, card_nick : document.postSignIn.ccNick.value}, processResponse);
	} catch (err)
	{
		console.log(err);
	}
}

function processSignInResponse(data)
{
	var obj = $.parseJSON(data);
	
	var addr = obj.addresses;
	var cc = obj.creditcards.ccs;
	var addrdrop = document.getElementById("addrDrop");
	var ccdrop = document.getElementById("ccDrop");
	
	for (i=0; i<cc.length; i++)
	{
		var optn = document.createElement("option");
		optn.text = cc[i].nick;
		optn.value = cc[i].nick;
		
		ccdrop.options.add(optn);
	}
	
	for (i=0; i<addr.length; i++)
	{
		var optn = document.createElement("option");
		optn.text = addr[i].nick;
		optn.value = addr[i].nick;
		
		addrdrop.options.add(optn);
	}
}

function processResponse(data)
{
	document.getElementById("postSignIn").style.display = "none";
	switch(data)
	{
		case "00" : showResult("You did not win a free meal, but look on the bright side, at least your order was placed successfully."); break;
		case "01" : showResult("Error processing your order. Please try again later."); break;
		case "10" : showResult("You won a free meal! Enjoy some chow on us."); break;
		case "11" : showResult("You won! Just kidding. Actually something wrong happened here..."); break;
	}
}

function showResult(message)
{
	$("#result").text(message);
}

</script>
</head>
<body onload="draw();">
<center>
<canvas id="canvas" width="10" height="300" border="1"></canvas>
<form name="userForm" id="userForm">
Login: <input type="text" name="email" placeholder="Email" style="width:150px"/> 
<input type="password" name="password" placeholder="Password" style="width:150px"/>
<input type="submit" onclick="userFormSubmit(); return false;" value="Login" />
</form>
</center>
<center>
<form name="postSignIn" id="postSignIn" style="display:none">
Order Info:
<select name="ccNick" id="ccDrop" style="width:150px">
<option>Select Saved Credit Card</option>
</select>
<select name="addrNick" id="addrDrop" style="width:150px">
<option>Select Saved Address</option>
</select>
<input type="submit" onclick="submitCCAddr(); return false;" value="Select" />
</form>

<div id="result">

</div>
</center>
</body>
</html>
