body {
  font-family: 'helvetica';
  font-size: 10pt;
  text-align: center;
}

#title {
  font-size: 54pt;
  letter-spacing: 12pt;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
}

#potimage {
  margin-top: 20px;
  margin-bottom: 20px;
}
